.flex,
.flexbox-container,
.flex-nav {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.flex.space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex.wrap {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-wrap: wrap;
}
.flex.column {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.flex.align-items-center {
  -webkit-align-items: center;
  align-items: center;
}
.flex.justify-center {
  -webkit-justify-content: center;
  justify-content: center;
}
.flex > .align-center {
  -webkit-align-self: center;
  align-self: center;
}
.flexbox-container {
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-wrap: wrap;
}
.flex-nav {
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
